.vscode/
node_modules
Dockerfile
.git
.gitignore
dist/**
README.md
tests/
__pycache__/
lib/
lib64/
*.py[cod]
.venv/
venv/
*.egg-info/
=0.104.0
DATA_LICENSE
LICENSE
startup
pushJyotish
dive_0.13.1_linux_amd64.deb
bld
psh
.bak*
q.sql
